#
# Copyright © 2016-2018 Cask Data, Inc.
#
# Licensed under the Apache License, Version 2.0 (the "License"); you may not
# use this file except in compliance with the License. You may obtain a copy of
# the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
# WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
# License for the specific language governing permissions and limitations under
# the License.

# Add Git submodule definitions below. Always include "branch" name to follow.

[submodule "wrangler-transform"]
	path = wrangler-transform
	url = https://github.com/Guavus/wrangler.git
	branch = release/build_guavus_3.2_5.1.2045
[submodule "kafka-plugins"]
	path = kafka-plugins
	url = https://github.com/Guavus/kafka-plugins.git
	branch = release/build_guavus_1.9_5.1.2045
[submodule "amazon-s3-plugins"]
	path = amazon-s3-plugins
	url = https://github.com/Guavus/amazon-s3-plugins.git
	branch = release/build_guavus_1.9_5.1.2045
[submodule "realtime-stream-source"]
	path = realtime-stream-source
	url = https://github.com/Guavus/realtime-stream-source.git
	branch = release/build_guavus_1.5_5.1.2045
[submodule "condition-plugins"]
	path = condition-plugins
	url = https://github.com/Guavus/condition-plugins.git
	branch = release/build_guavus_1.2_5.1.2045
